.header_order_portion {
  background-image: url("/images/All_courses.png");
  background-size: cover;
  background-position: center;
}
.line_identify {
  margin: 77px 0 70px 0;
}
.link_line h6 {
  color: #b2adad;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 400;
}
.order_line h3 {
  color: #fbf4f4;
  font-size: 30px;
  font-weight: 700;
}
.order_portion_start {
  margin: 60px 0 110px 0;
}
.single_order_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191c23;
  border-radius: 10px;
  padding: 21px 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.order_desc_portion {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.order_author_rating_price_view {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.order_author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_image_portion {
  height: 176px;
  width: 305px;
  border-radius: 5px;
}
.order_image_portion img {
  height: 176px;
  width: 305px;
  border-radius: 5px;
}
.order_title h4 {
  font-size: 20px;
  font-family: "Lato";
  color: #fbf4f4;
  margin: 0 0 16px 0;
}
.order_desc_portion p {
  font-size: 14.2px;
  font-family: "Lato";
  font-weight: 400;
  opacity: 53%;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(225, 225, 225, 0.24);
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.order_view_btnn {
  width: 154px;
  height: 40px;
  font-size: 14px;
  color: #000000;
  background: #d19f28;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .mid_space {
    width: 20%;
  }
}
.order_author img {
  height: 35px;
  width: 35px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price_order_portion h3 {
  font-size: 20px;
  font-family: "Lato";
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}
.order_author p {
  margin-top: 12px;
  border: none;
}
